.container-countries-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    margin-top: 1rem;
}


@media (min-width: 1440px) {
    .container-searchs {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main {
        padding: 0 3rem;
    }
}