.container-countries-flag {
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    img {
        width: 100%;
        border-radius: 6px;
    }

    div {
        margin-bottom: 2rem;
    }
}

.container-details {
    padding: 1rem 1.5rem 2rem 1.5rem;

    h1 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 0.5rem;
    }

    strong {
        font-weight: 600;
    }
}


.main-countries {
    display: grid;
    gap: 1.5rem;
}

@media (min-width: 1440px) {
    .main-countries{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;

        div img{
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
    }
}