.container-detail-countrie {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    button {
        border: none;
        outline: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), /* Sombra inferior */
              0px -4px 10px rgba(0, 0, 0, 0.2), /* Sombra superior */
              4px 0px 10px rgba(0, 0, 0, 0.2), /* Sombra direita */
              -4px 0px 10px rgba(0, 0, 0, 0.2);
        padding: 0.6rem;
    }

    fa-icon {
        margin: 1rem;
    }

    span {
        margin-right: 1rem;
    }
}

.bg-dark-app {
    background-color: var(--dark-mode-very-dark-blue);
}


.detail-countrie {

    padding-top: 4rem;
    
    img {
        width: 100%;
    }

    h1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    div p {
        margin-bottom: 1rem;
        font-weight: 600;
    }

    div p span {
        font-weight: 300;
    }
}

.sub-detail {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.borders {
    display: flex;
    flex-wrap: wrap;

}