<div class="container-detail-countrie" [ngClass]="{'bg-dark-app': _modeService.darkTheme}">
    <button [routerLink]="['/']" appChangeThemeColor [themeDark]="_modeService.darkTheme">
        <fa-icon [icon]="iconArrowLeft"></fa-icon>
        <span>Voltar</span>
    </button>

    <div class="detail-countrie">
        <img [src]="countrie?.flag" [alt]="countrie?.name">
        <h1>{{ countrie?.name }}</h1>
        <div>
            <p>Nome Nativo: <span>{{ countrie?.nativeName }}</span></p>
            <p>População: <span>{{ countrie?.population }}</span></p>
            <p>Região: <span>{{ countrie?.region }}</span></p>
            <p>Sub Região: <span>{{ countrie?.subregion }}</span></p>
            <p>Capital: <span>{{ countrie?.capital }}</span></p>
        </div>

        <div class="sub-detail">
            <p>Domínio de Nível Superior: <span>{{ countrie?.topLevelDomain }}</span></p>
            <p>Moedas: 
            <ng-container *ngFor="let currency of countrie?.currencies; let last = last;">
                <span>{{ currency.code }}<span *ngIf="!last">,</span></span>
            </ng-container>
            </p>
            <p>Línguas: 
                <ng-container *ngFor="let language of countrie?.languages; let last = last;">
                    <span>{{ language.name }}<span *ngIf="!last">,</span></span>
                </ng-container>
                
            </p>
        </div>

        <div>
            <p class="borders">Bordas do País: <span> </span>
                <ng-container *ngFor="let border of countrie?.borders; let last = last;">
                    <span>{{ border }}<span *ngIf="!last">,</span></span>
                </ng-container>
                
            </p>
        </div>
    </div>
</div>