@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import url('./theme-classes/styles.scss');

:root {
    --dark-mode-dark-blue: hsl(209, 23%, 22%);
    --dark-mode-very-dark-blue: hsl(207, 26%, 17%);
    --light-mode-very-dark-blue: hsl(200, 15%, 8%);
    --light-mode-dark-gray: hsla(0, 0%, 87%, 0);
    --light-mode-very-light-gray: hsl(0, 0%, 96%);
    --light-dark-mode-white: hsl(0, 0%, 100%);
    --placeholder: hsl(0, 2%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
